<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alin</title>

  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Spam checker</h1>

  <div>
    <textarea name="mail-text" id="mailText" cols="30" rows="10" placeholder="Paste your email to be checked"
      required></textarea>
    <br>
    <button id="checkBtn">Check</button>
  </div>

  <br>
  <div class="response-text"></div>

  <script src="/static/main.js"></script>
</body>

</html>
